.mainBlogWrap {
  max-width: 1080px;
  display: flex;
  margin: 30px auto;
  justify-content: center;
  gap: 50px;
  padding: 0 20px;
}
.breadcrumb {
  display: flex;
  margin-bottom: 30px;
}

.breadcrumb li {
  font-size: 12px;
  color: gray;
  display: flex;
}

.breadcrumb li a{
text-decoration-line: none;
}

.breadcrumb li:last-of-type {
position: relative;
top: 1px;
}

.breadcrumb li::after {
  content: ">";
  width: 16px;
  font-size: 14px;
  display: inline-block;
  padding: 0 5px;
  position: relative;
  top: 1px;
}
.breadcrumb li:last-of-type::after {
  content: "";
}


.blogArticleContainer {
  max-width: 720px;
}
.categoryBlock {
  display: inline-block;
  padding: 8px 16px;
  background-color: #60A2B0;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 30px;
}
.blogTitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.blogDate {
  font-size: 16px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 40px;
}
.thumbnail {
  width: 100%;
  margin: 0 auto;
  height: auto;
  object-fit: scale-down;
}
.sideContentWrap {
  max-width: 310px;
}

.sideToc {
  position: sticky;
  width: 100%;
  top: 100px;
  opacity: 1;
  z-index: 1;
  color: #a3a3a3;
  border-radius: 5px;
  padding: 20px 24px;
  border: 1px solid #e5e5e5;
}

.sideToc::before {
  background-color: #E3EEEF;
  content: "";
  height: calc(100% - 64px);
  position: absolute;
  top: 32px;
  width: 2px;
}

.tocTitle {
  font-size: 14px;
  color: #000;
  font-weight: bold;
}

.tocActive {
  color: #60A2B0;
  font-weight: bold;
}

.tocActive::before {
  background-color: #60A2B0 !important;
  border: 3px solid #60A2B0 !important;
}

.sideToc li {
  font-size: 12px;
  padding-left: 12px;
  padding-bottom: 5px;
  position: relative;
}

.sideToc li::before {
  background-color: #E3EEEF;
  border: 3px solid #E3EEEF;
  border-radius: 50%;
  content: "";
  height: 6px;
  left: -2px;
  position: absolute;
  top: 10px;
  transition: background-color .3s;
  width: 6px;
}

.sideToc li:hover {
  color: #60A2B0;
}

.articleMainImageContainer {
  margin-bottom: 20px;
}

.ProfileContainer {
  margin-top: 90px;
}

@media screen and (max-width: 760px) {
  .mainBlogWrap {
    max-width: initial;
    display: block;
    margin: 20px auto;
    justify-content: center;
    gap: 50px;
    padding: 0 20px;
    width: 100%;
  }
  .breadcrumb {
    display: flex;
    font-size: 12px;
    margin-bottom: 20px;
  }


  .categoryBlock {
    display: inline-block;
    padding: 4px 8px;
    background-color: #60A2B0;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .blogTitle {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .blogDate {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .sideContentWrap {
    max-width: 310px;
    display: none;
  }

}