.categoryList {
  margin: 0 auto;
  padding: 40px 20px;
  height: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/fvBg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  margin-bottom: 50px;
  margin-top: 66px;
  @media (max-width: 768px) {
    padding: 20px;
  }
  .categoryListTitleWrapper {
    h1 {
    font-size: 44px;
    font-weight: bold;
    color: #000;
    text-align: center;
    line-height: 1;
    @media (max-width: 768px) {
      font-size: 34px;
    }
    span {
      font-size: 20px;
      color: #000;
      @media (max-width: 768px) {
        font-size: 16px;
      }
      }
    }
  }
}

.cardList {
  padding: 0 20px;
  max-width: 1000px;
  margin: 0 auto 50px;
  .articleListContainer {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 5%;
    row-gap: 30px;
    @media (max-width: 768px) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 420px;
      margin: 0 auto;
    }
    .articleListItem {
      box-shadow: 1px 2px 7px #94a3b8;
      border-radius: 6px;
      width: 30%;
      max-height: 342px;
      @media (max-width: 768px) {
        width: 100%;
        max-width: 342px;
      }
      .cardLink {
        display: block;
        height: 100%;
        padding: 20px 14px;
        &:hover {
          .cardLinkInner {
            .cardLinkImage {
              img {
                width: 100%;
                height: 100%;
                scale: 1.1;
                transition: all 0.2s ease;
              }
            }
          }
        }
        .cardLinkInner {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          height: 100%;
          .cardLinkImage {
            width: 100%;
            height: 100%;
            margin-bottom: 10px;
            border: 1px solid #ededed;
            border-radius: 6px;
            overflow: hidden;
            img {
              object-fit:scale-down;
              max-height: 170px;
              border: 1px solid #ededed;
              border-radius: 6px;
              width: 100%;
              scale: 1;
              max-width: initial;
              @media (max-width: 768px) {
                max-height: initial;
              }
            }
          }
          .cardLinkInfo {
            .cardLinkInfHead {
              display: flex;
              justify-content: space-between;
              align-items: center;
              margin-bottom: 10px;
              p {
                font-size: 14px;
                color: #000;
              }
              .categoryName {
                padding: 4px 8px;
                background-color: #47BCD3;
                color: #fff;
                border-radius: 4px;
              }
            }
            .articleTitle {
              font-size: 16px;
              color: #000;
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}
