.articleTitle {
  width: 100%;
  height: 200px;
  background-color: #f7f7f7;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 25px;
}

.tagContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.articleTitle h1 {
  font-size: 40px;
  text-align: center;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 25px;
}

.articleTitle p {
  font-size: 24px;
  text-align: center;
  font-weight: 500;
  line-height: 1;
}



.blogLists {
  padding: 60px 20px;
}

.tabItems {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #60A2B0;
  margin-bottom: 60px;
}

.tabItem {
  padding: 10px 60px;
  background-color: #60A2B0;
  color: #fff;
  font-size: 20px;
}

.blogCardsList {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 5%;
  row-gap: 30px;
  padding: 0 20px;
}

.cardItemImage {
  margin-bottom: 10px;
  max-height: 170px;
  border: 1px solid #ededed;
  border-radius: 6px;
}

.cardTag {
  background-color: #60A2B0;
  color: #fff;
  font-size: 12px;
  padding: 3px 8px;
  text-align: center;
  border-radius: 4px;
  display: inline-block;
}

.cardTagName {
  position: relative;
  top: 2px;
}

.blogCardContainer {
  box-shadow: 1px 2px 7px #94a3b8;
  padding: 20px 14px;
  border-radius: 6px;
  width: 30%;

}

.cardTitle {
  font-size: 16px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 5px;
}

.cardDate {
  font-size: 14px;
  color: #65717B;
}

.blogCardsListContainer {
  max-width: 1200px;
  margin: 60px auto;
}


@media screen and (max-width: 760px) {

  .blogLists {
    padding: 60px 20px;
  }
  
  .tabItems {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #60A2B0;
    margin-bottom: 30px;
  }
  
  .tabItem {
    padding: 10px 60px;
    background-color: #60A2B0;
    color: #fff;
    font-size: 20px;
  }
  
  .blogCardsList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 30px;
  }
  
  .cardItemImage {
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .cardTag {
    color: #fff;
    font-size: 12px;
    padding: 3px 8px;
    text-align: center;
    border-radius: 4px;
    display: inline-block;
  }
  
  .blogCardContainer {
    box-shadow: 1px 2px 7px #94a3b8;
    padding: 20px 14px;
    border-radius: 6px;
    width: 47%;
  
  }
  
  .cardTitle {
    font-size: 18px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  .cardDate {
    font-size: 14px;
    color: #65717B;
  }
}


@media screen and (max-width: 499px) {

  .blogCardsList {
    flex-direction: column;
    justify-content: flex-start;
  }

  .blogCardContainer {
    width: 100%;
  
  }
}