.headerContainer {
  padding: 0 20px 0 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogoContainer {
  display: flex;
  align-items: center;
  color: #60A2B0;
}

.headerMenu {
  display: flex;
  gap: 2.5rem;
  color: #60A2B0;
}

@media screen and (max-width: 760px) { 
  .headerMenu {
    display: none;
  }

  .headerLogoContainer p {
    display: none;


  }
  /*==================================================
　5-2-5 MENUが☓に
===================================*/

/*ボタン外側※レイアウトによってpositionや形状は適宜変更してください*/
.openbtn5{
  position: relative;/*ボタン内側の基点となるためrelativeを指定*/
  background:#666;
  cursor: pointer;
    width: 50px;
    height:50px;
  border-radius: 5px;
}

/*ボタン内側*/
.openbtn5 span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
  }

.openbtn5 span:nth-of-type(1),
.openbtn5 span:nth-of-type(3) {
    height: 2px;
  background: #fff;
    width: 62%;
    left: 10px;
 }

.openbtn5 span:nth-of-type(1) {
  top:13px; 
}

.openbtn5 span:nth-of-type(2) {
  top:19px;
  left:11px;
  font-size:0.6rem;
  text-transform: uppercase;
  color: #fff;
}

.openbtn5 span:nth-of-type(3) {
  top:36px;
}

/*activeクラスが付与されると線が回転して×になり、Menu表記をしている2つ目の要素が透過して消える*/
.openbtn5.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn5.active span:nth-of-type(2) {
  opacity: 0;
}

.openbtn5.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}
}

