



.globalMainBlog {
  .hljs {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 26px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-top: 40px;
    border-bottom: 3px solid #e3eeef;
    position: relative;
    padding-bottom: 6px;
    &::before {
      content: "";
        border-bottom: 3px solid #47bcd3;
        position: absolute;
        height: 3px;
        width: 30%;
        bottom: -2px;
    }
  }
  
  h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
    position: relative;
    display: flex;
    column-gap: 11px;
    align-items: center;
    &::before {
      content: "";
      position: relative;
      left: 0;
      width: 3px;
      height: 30px;
      background-color: #47bcd3;

    }

  }
  
  p {
    margin-bottom: 20px;
    line-height: 1.8;
  }
  .link {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #47bcd3;
    &::after {
      content: "";
      background-image: url("../../public/link.svg");
      background-size: 24px 24px;
      background-repeat: no-repeat;
      background-position: 0;
      padding-left: 10px;
      width: 24px;
      height: 24px;
      display: inline-block;
    }
    &:hover {
      color: #47bcd3;
      opacity: 0.8;
    }
  }
  .marker {
    font-weight: 700;
    background-image: linear-gradient(transparent 60%, #ff0 0);
    color: #000;
    display: inline;
  }

  .cautionContainer {
    position: relative;
    margin: 50px 0;
    padding: 10px 20px;
    border: solid 3px  #ff7d6e;
    .cautionLabel {
      position: absolute;
      display: inline-block;
      top: -32px;
      left: -3px;
      padding: 2px 60px;
      height: 30px;
      line-height: 30px;
      font-size: 17px;
      background:  #ff7d6e;
      color: #ffffff;
      font-weight: bold;
      border-radius: 5px 5px 0 0;
    }
  }
  .pointContainer {
    position: relative;
    margin: 50px 0;
    padding: 10px 20px;
    border: solid 3px  #5fb3f5;
    .pointLabel {
      position: absolute;
      display: inline-block;
      top: -32px;
      left: -3px;
      padding: 2px 60px;
      height: 30px;
      line-height: 30px;
      font-size: 16px;
      background:  #5fb3f5;
      color: #ffffff;
      font-weight: bold;
      border-radius: 5px 5px 0 0;
      @media (max-width: 768px) {
        padding: 2px 40px;
      }
    }
  }

  .singleCode {
    color: #575b5f;
    background-color:#e9eef6;
    border-radius: 6px;
    padding: 1px 6px;
  }

}
