@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  color: #2b2c30;
  line-height: 1.8;
  font-family: Helvetica, Arial,sans-serif;
}
img {
  display: inline;
}
.bgColor {
  background-color: #E3EEEF;
}
.strongColor {
  color: #60A2B0;
}

.pcWidth {
  max-width: 1200px;
  margin: auto;
}

.header-space {
  padding: 0 20px 0 4px;
}

.topTitleBg {
  background-color: #F7F7F7;
}

.topTitle {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 36px;
}
.topTitle span {
  color: #60A2B0;
}

.topLeadText {
  font-size: 24px;
}
/*  */
/* Wpから取得したデータにcss付与 */
/*  */

.globalMainBlogWrap h2 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 4px;
  border-bottom: 3px solid #E3EEEF;
  position: relative;
  margin-top: 48px;
  margin-bottom: 24px;
}
.globalMainBlogWrap p {
  margin: 16px 0;
}

.globalMainBlogWrap time {
  margin: 16px 0;
  display: block;
  font-weight: 300;
}

.globalMainBlogWrap strong {
  margin: 16px 0;
}

.blogMainArticle a {
  color: #60A2B0;
  text-decoration:underline;
  display: flex;
  align-items: center;
}

.blogMainArticle .link a::after {
  content: "";
  background-image: url("/ArrHoso.svg");
  width: 30px;
  height: 30px;
  display: inline-block; /* 要素を表示するために必要 */
  background-size: contain; /* 画像のサイズを調整 */
  background-repeat: no-repeat; /* 画像が繰り返されないようにする */
  
}



.globalMainBlogWrap h2::before {
  content: "";
  border-bottom: 3px solid #60A2B0;
  position: absolute;
  height: 3px;
  width: 30%;
  bottom: -2px;
}
.globalMainBlogWrap h3 {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0 5px 15px;
  border-left: 3px solid #60A2B0;
  position: relative;
  margin-top: 48px;
  margin-bottom: 24px;
}
.globalMainBlogWrap .marker {
  font-weight: bold;
  background-image: linear-gradient(transparent 60%, yellow 0%);
  color: #000;
  display: inline;
}

.globalMainBlogWrap strong {
  font-weight: bold;
  color: #000;
}

.globalMainBlogWrap code {
  border-radius: 5px;
}

.blogImageContainer {
  max-width: 720px;
  margin: 0 auto;
}

.red {
  color: #df5452;
}

.mokujiContainer {
  border: 2px solid #60A2B0;
  padding: 30px 60px;
}
.mokuji {
  font-size: 24px;
  font-weight: bold;
  color: #60A2B0;
  text-align: center;
}
.mokujilist {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.mokujiItems {
  font-size:16px;
  color:#000;
  list-style: none;
  display: flex;
  align-items: center;
  position:relative;
}
.mokujiItems::before {
  content: "・";
  color: #60A2B0;
  font-size:30px;
  position: absolute;
  left: -28px;
  top: -9px;
}

.pointContainer {
  border: 2px solid #60A2B0;
  border-radius: 6px;
  padding: 10px 20px;
  position: relative;
  margin-top: 40px;
}

.pointLabel {
  font-size: 13px;
  font-weight: 700;
  background-color: #60A2B0;
  color: #fff;
  border-radius: 6px;
  padding: 4px 10px 4px;
  position: absolute;
  top: -14px;
  left: 5%;
}

.cautionContainer {
  border: 2px solid #C24F4F;
  border-radius: 6px;
  padding: 10px 20px;
  position: relative;
  margin-top: 40px;
}

.cautionLabel {
  font-size: 13px;
  background-color: #C24F4F;
  color: #fff;
  border-radius: 6px;
  padding: 5px 10px;
  position: absolute;
  top: -14px;
  left: 5%;
  width: 70px;
  text-align: center;
}

.space {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}


@media screen and (max-width: 760px) {

/*  */
/* Wpから取得したデータにcss付与 */
/*  */

.globalMainBlogWrap h2 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 4px;
  border-bottom: 3px solid #E3EEEF;
  position: relative;
}
.globalMainBlogWrap h2::before {
  content: "";
  border-bottom: 3px solid #60A2B0;
  position: absolute;
  height: 3px;
  width: 30%;
  bottom: -2px;
}
.globalMainBlogWrap h3 {
  font-size: 18px;
  font-weight: bold;
  padding: 5px 0 5px 15px;
  border-left: 3px solid #60A2B0;
  position: relative;
}
.globalMainBlogWrap .marker {
  font-weight: bold;
  background-image: linear-gradient(transparent 60%, yellow 0%);
  color: #000;
}

.globalMainBlogWrap strong {
  font-weight: bold;
  color: #000;
}

.globalMainBlogWrap code {
  border-radius: 5px;
}


}

.hljs {
  font-size: 13px;
}



  


