@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
}
img {
  display: inline;
}
.bgColor {
  background-color: #E3EEEF;
}
.strongColor {
  color: #85C7D5;
}

.pcWidth {
  max-width: 1040px;
  margin: auto;
}

.header-space {
  padding: 0 20px 0 4px;
}

.topTitleBg {
  background-color: #F7F7F7;
}

.topTitle {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 36px;
}
.topTitle span {
  color: #85C7D5;
}

.topLeadText {
  font-size: 24px;
}